# Secrets
secrets.toml
.streamlit/secrets.toml
*.env

# Datos
output/
*.parquet
*.csv
*.xlsx

# Python
__pycache__/
*.py[cod]
.Python

# Ambientes
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
